<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianyun.wms.dao.StorageMapper">
	
	<!-- 结果映射 -->
	<resultMap type="com.jianyun.wms.domain.Storage" id="storage">
		<id property="goodsID" column="goodsID"/>
		<result property="goodsName" column="goodsName"/>
		<result property="goodsSize" column="goodsSize"/>
		<result property="goodsType" column="goodsType"/>
		<result property="goodsValue" column="goodsValue"/>
		<result property="repositoryID" column="repositoryID"/>
		<result property="repository" column="repository" />
		<result property="shelvesID" column="shelvesID" />
		<result property="shelves" column="shelves" />
		<result property="number" column="number"/>
		<!-- 
		<association property="goodsInfo" javaType="com.jianyun.Goods" resultMap="goods"/>
		 -->
	</resultMap>
	
	<!-- 
	<resultMap type="com.jianyun.Goods" id="goods">
		<id property="id" column="goodsID"/>
		<result property="name" column="goodsName"/>
		<result property="size" column="goodsSize"/>
		<result property="type" column="goodsType"/>
		<result property="value" column="goodsValue"/>
	</resultMap>
	 -->
	 
	<select id="selectAllAndRepositoryID" resultMap="storage">
		select
			s.RECORD_REPOSITORY as repositoryID,
			r.REPO_NAME as repository,
			s.RECORD_SHELVES as shelvesID,
			ss.SHELVES_NAME as shelves,
			s.RECORD_NUMBER as number,
			g.GOOD_ID as goodsID,
			g.GOOD_NAME as goodsName,
			g.GOOD_SIZE as goodsSize,
			g.GOOD_VALUE as goodsValue,
			c.CATEGORY_NAME as goodsType
		from
			wms_record_storage s
		LEFT JOIN wms_respository r
		ON s.RECORD_REPOSITORY = r.REPO_ID
		LEFT JOIN wms_goods g
		ON s.RECORD_GOODID = g.GOOD_ID
		LEFT JOIN wms_shelves ss
		ON s.RECORD_SHELVES = ss.SHELVES_ID
		LEFT JOIN wms_category c
		ON g.CATEGORY_ID = c.CATEGORY_ID
		<where>
			<if test="repositoryID != null and repositoryID != ''">
				and s.RECORD_REPOSITORY = #{repositoryID}
			</if>
			<if test="shelvesID != null and shelvesID != ''">
				and s.RECORD_SHELVES = #{shelvesID}
			</if>
		</where>
	</select>
	
	<select id="selectByGoodsIDAndRepositoryID" resultMap="storage">
		select
			s.RECORD_REPOSITORY as repositoryID,
			r.REPO_NAME as repository,
			s.RECORD_SHELVES as shelvesID,
			ss.SHELVES_NAME as shelves,
			s.RECORD_NUMBER as number,
			g.GOOD_ID as goodsID,
			g.GOOD_NAME as goodsName,
			g.GOOD_SIZE as goodsSize,
			g.GOOD_VALUE as goodsValue,
			c.CATEGORY_NAME as goodsType
		from
			wms_record_storage s
		LEFT JOIN wms_respository r
		ON s.RECORD_REPOSITORY = r.REPO_ID
		LEFT JOIN wms_goods g
		ON s.RECORD_GOODID = g.GOOD_ID
		LEFT JOIN wms_shelves ss
		ON s.RECORD_SHELVES = ss.SHELVES_ID
		LEFT JOIN wms_category c
		ON g.CATEGORY_ID = c.CATEGORY_ID
		where
			s.RECORD_GOODID = #{goodsID}
		 	<if test="repositoryID != null and repositoryID != ''">
		 		and s.RECORD_REPOSITORY = #{repositoryID}
		 	</if>
			<if test="shelvesID != null and shelvesID != ''">
				and s.RECORD_SHELVES = #{shelvesID}
			</if>
	</select>
	
	<select id="selectByGoodsNameAndRepositoryID" resultMap="storage">
		select
			s.RECORD_REPOSITORY as repositoryID,
			r.REPO_NAME as repository,
			s.RECORD_SHELVES as shelvesID,
			ss.SHELVES_NAME as shelves,
			s.RECORD_NUMBER as number,
			g.GOOD_ID as goodsID,
			g.GOOD_NAME as goodsName,
			g.GOOD_SIZE as goodsSize,
			g.GOOD_VALUE as goodsValue,
			c.CATEGORY_NAME as goodsType
		from
			wms_record_storage s
		LEFT JOIN wms_respository r
		ON s.RECORD_REPOSITORY = r.REPO_ID
		LEFT JOIN wms_goods g
		ON s.RECORD_GOODID = g.GOOD_ID
		LEFT JOIN wms_shelves ss
		ON s.RECORD_SHELVES = ss.SHELVES_ID
		LEFT JOIN wms_category c
		ON g.CATEGORY_ID = c.CATEGORY_ID
		where
		 	g.GOOD_NAME like concat("%",concat(#{goodsName},"%"))
		 	<if test="repositoryID != null and repositoryID != ''">
				and s.RECORD_REPOSITORY = #{repositoryID}
		 	</if>
			<if test="shelvesID != null and shelvesID != ''">
				and s.RECORD_SHELVES = #{shelvesID}
			</if>
	</select>
	
	<select id="selectByGoodsTypeAndRepositoryID" resultMap="storage">
		select
			r.REPO_ID as repositoryID,
			s.RECORD_NUMBER as number,
			g.GOOD_ID as goodsID,
			g.GOOD_NAME as goodsName,
			g.GOOD_RYPE as goodsType,
			g.GOOD_SIZE as goodsSize,
			g.GOOD_VALUE as goodsValue
		from
			wms_record_storage s,wms_respository r, wms_goods g
		where
		 	s.RECORD_GOODID = g.GOOD_ID and
		 	s.RECORD_REPOSITORY = r.REPO_ID and
		 	g.GOOD_RYPE like concat("%",concat(#{goodsType},"%"))
		 	<if test="repositoryID != null">
		 		and r.REPO_ID = #{repositoryID}
		 	</if>
	</select>
	
	<update id="update">
		update 
			wms_record_storage
		set
			RECORD_NUMBER = #{number}
		where
			RECORD_GOODID = #{goodsID}
			and RECORD_REPOSITORY = #{repositoryID}
			and RECORD_SHELVES = #{shelvesID}
	</update>
	
	<insert id="insert">
		insert into wms_record_storage
		(
			RECORD_GOODID,
			RECORD_REPOSITORY,
			RECORD_SHELVES,
			RECORD_NUMBER
		)
		values
		(
			#{goodsID},
			#{repositoryID},
			#{shelvesID},
			#{number}
		)
	</insert>
	
	<insert id="insertBatch">
		insert into wms_record_storage(RECORD_GOODID,RECORD_REPOSITORY,RECORD_SHELVES,RECORD_NUMBER)
		values
		<foreach collection="list" item="storage" separator=",">
			(
			#{storage.goodsID},#{storage.repositoryID},#{storage.shelvesID},#{storage.number})
		</foreach>
	</insert>

	
	<delete id="deleteByRepositoryIDAndGoodsID">
		delete from
			wms_record_storage
		where
			RECORD_GOODID = #{goodsID} and
			RECORD_REPOSITORY = #{repositoryID} and
			RECORD_SHELVES = #{shelvesID}
	</delete>
</mapper>